# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Build files
build/
dist/
*.spec

# VS Code
.vscode/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Executables
*.exe

# Python packaging
*.egg-info/